In [24]:
import pandas as pd

In [25]:
df = pd.read_csv('lstm_results.csv')

#keep column Year, Region, Acc-ID, y, Budget y and yhat
df = df[['Year', 'Region', 'Acc-ID', 'y', 'Budget y', 'yhat']]
#rename yhat to yhat_lstm
df = df.rename(columns={'yhat': 'yhat_lstm'})
df

     Year Region  Acc-ID             y     Budget y   yhat_lstm
0    2022     AG      30  1.769407e+06  1824800.673    0.001000
1    2022     AG      31  4.712357e+05   486337.940    0.001000
2    2022     AG      34  1.586561e+04    12107.000    0.001000
3    2022     AG      35  1.408261e+05   117736.178    0.001000
4    2022     AG      36  3.067152e+06  2777999.430    0.001000
..    ...    ...     ...           ...          ...         ...
538  2022     ZH      63  5.014973e+04    61721.600    0.001000
539  2022     ZH      64  5.489947e+04    21929.700    0.001000
540  2022     ZH      65  2.610800e+01        0.000  127.152435
541  2022     ZH      66  1.463094e+04      108.000    0.001000
542  2022     ZH      67  4.901666e+04    58112.000    0.001000

[543 rows x 6 columns]

In [26]:
dfcat = pd.read_csv('catboost_results.csv')
#merge df and dfcat on y = Realized in dfcat and Budget y = Budget y

df = pd.merge(df, dfcat, how='inner', left_on=['y', 'Budget y'], right_on=['Realized', 'Budget y'])
#rename prediction column to yhat_cat
df = df.rename(columns={'Predicted': 'yhat_cat'})
#drop Realized column
df = df.drop(columns='Realized')
df

     Year Region  Acc-ID             y     Budget y   yhat_lstm      yhat_cat
0    2022     AG      30  1.769407e+06  1824800.673    0.001000  1.788033e+06
1    2022     AG      31  4.712357e+05   486337.940    0.001000  4.232748e+05
2    2022     AG      34  1.586561e+04    12107.000    0.001000  4.741739e+04
3    2022     AG      35  1.408261e+05   117736.178    0.001000  1.850511e+05
4    2022     AG      36  3.067152e+06  2777999.430    0.001000  3.024800e+06
..    ...    ...     ...           ...          ...         ...           ...
665  2022     ZH      60  1.478695e+03      100.000    0.001000  2.293242e+03
666  2022     ZH      63  5.014973e+04    61721.600    0.001000  7.545641e+04
667  2022     ZH      64  5.489947e+04    21929.700    0.001000  5.098497e+04
668  2022     ZH      65  2.610800e+01        0.000  127.152435  7.503090e+02
669  2022     ZH      66  1.463094e+04      108.000    0.001000  2.814285e+04

[670 rows x 7 columns]

In [27]:
dfXg = pd.read_csv('xgboost_results.csv')
#merge df and dfxg on y = Realized in dfxg and Budget y = Budget y

df = pd.merge(df, dfXg, how='inner', left_on=['y', 'Budget y'], right_on=['Realized', 'Budget y'])
#rename prediction column to yhat_xg
df = df.rename(columns={'Predicted': 'yhat_xg'})
#drop Realized column
df = df.drop(columns='Realized')
df

,Year,Region,Acc-ID,y,Budget y,yhat_lstm,yhat_cat,yhat_xg
0,2022,AG,30,1.769407e+06,1824800.673,0.001000,1.788033e+06,1894843.200
1,2022,AG,31,4.712357e+05,486337.940,0.001000,4.232748e+05,458346.280
2,2022,AG,34,1.586561e+04,12107.000,0.001000,4.741739e+04,84661.500
3,2022,AG,35,1.408261e+05,117736.178,0.001000,1.850511e+05,348803.220
4,2022,AG,36,3.067152e+06,2777999.430,0.001000,3.024800e+06,2969020.800
...,...,...,...,...,...,...,...,...
931,2022,ZH,60,1.478695e+03,100.000,0.001000,2.293242e+03,9907.514
932,2022,ZH,63,5.014973e+04,61721.600,0.001000,7.545641e+04,51748.773
933,2022,ZH,64,5.489947e+04,21929.700,0.001000,5.098497e+04,43948.760
934,2022,ZH,65,2.610800e+01,0.000,127.152435,7.503090e+02,-14638.269
935,2022,ZH,66,1.463094e+04,108.000,0.001000,2.814285e+04,18313.648

In [28]:
dfRandom = pd.read_csv('randomforest_results.csv')
#merge df and dfRandom on y = Realized in dfRandom and Budget y = Budget y

df = pd.merge(df, dfRandom, how='inner', left_on=['y', 'Budget y'], right_on=['Realized', 'Budget y'])
#rename prediction column to yhat_rf
df = df.rename(columns={'Predicted': 'yhat_rf'})
#drop Realized column
df = df.drop(columns='Realized')
df

,Year,Region,Acc-ID,y,Budget y,yhat_lstm,yhat_cat,yhat_xg,yhat_rf
0,2022,AG,30,1.769407e+06,1824800.673,0.001000,1.788033e+06,1894843.200,1.795815e+06
1,2022,AG,31,4.712357e+05,486337.940,0.001000,4.232748e+05,458346.280,4.220944e+05
2,2022,AG,34,1.586561e+04,12107.000,0.001000,4.741739e+04,84661.500,4.698347e+04
3,2022,AG,35,1.408261e+05,117736.178,0.001000,1.850511e+05,348803.220,2.616156e+05
4,2022,AG,36,3.067152e+06,2777999.430,0.001000,3.024800e+06,2969020.800,3.005331e+06
...,...,...,...,...,...,...,...,...,...
1463,2022,ZH,60,1.478695e+03,100.000,0.001000,2.293242e+03,9907.514,6.340764e+04
1464,2022,ZH,63,5.014973e+04,61721.600,0.001000,7.545641e+04,51748.773,6.368714e+04
1465,2022,ZH,64,5.489947e+04,21929.700,0.001000,5.098497e+04,43948.760,6.340764e+04
1466,2022,ZH,65,2.610800e+01,0.000,127.152435,7.503090e+02,-14638.269,6.340764e+04
1467,2022,ZH,66,1.463094e+04,108.000,0.001000,2.814285e+04,18313.648,6.340764e+04

In [30]:
dfProph = pd.read_csv('prophet_results.csv')
#keep columns Region, Acc-ID, yhat
dfProph = dfProph[['Region', 'Acc-ID', 'yhat']]
#rename yhat to yhat_proph
dfProph = dfProph.rename(columns={'yhat': 'yhat_proph'})

#merge df and dfProph on Region and Acc-ID
df = pd.merge(df, dfProph, how='inner', on=['Region', 'Acc-ID'])
#drop duplicates
df = df.drop_duplicates()
#keep only unique combinations of Region and Acc-ID
df = df.drop_duplicates(subset=['Region', 'Acc-ID'])
df

,Year,Region,Acc-ID,y,Budget y,yhat_lstm,yhat_cat,yhat_xg,yhat_rf,yhat_proph_x,yhat_proph_y
0,2022,AG,30,1.769407e+06,1824800.673,0.001000,1.788033e+06,1894843.200,1.795815e+06,1.678168e+06,1.678168e+06
1,2022,AG,31,4.712357e+05,486337.940,0.001000,4.232748e+05,458346.280,4.220944e+05,4.505209e+05,4.505209e+05
2,2022,AG,34,1.586561e+04,12107.000,0.001000,4.741739e+04,84661.500,4.698347e+04,-7.527133e+04,-7.527133e+04
3,2022,AG,35,1.408261e+05,117736.178,0.001000,1.850511e+05,348803.220,2.616156e+05,1.759494e+05,1.759494e+05
4,2022,AG,36,3.067152e+06,2777999.430,0.001000,3.024800e+06,2969020.800,3.005331e+06,3.454500e+06,3.454500e+06
...,...,...,...,...,...,...,...,...,...,...,...
923,2022,ZH,60,1.478695e+03,100.000,0.001000,2.293242e+03,9907.514,6.340764e+04,3.168581e+03,3.168581e+03
924,2022,ZH,63,5.014973e+04,61721.600,0.001000,7.545641e+04,51748.773,6.368714e+04,4.498550e+04,4.498550e+04
925,2022,ZH,64,5.489947e+04,21929.700,0.001000,5.098497e+04,43948.760,6.340764e+04,-2.102755e+04,-2.102755e+04
926,2022,ZH,65,2.610800e+01,0.000,127.152435,7.503090e+02,-14638.269,6.340764e+04,7.484170e+03,7.484170e+03
927,2022,ZH,66,1.463094e+04,108.000,0.001000,2.814285e+04,18313.648,6.340764e+04,1.726359e+04,1.726359e+04

In [32]:
dfHistory = pd.read_csv('merged_double_digit.csv')
dfHistory

,Year,Region,Acc-ID,Realized,Budget y,Budget y+1,Slack
0,2021,AG,30,1.710857e+06,1.724699e+06,1.824801e+06,13841.72964
1,2021,AG,31,4.651056e+05,4.463477e+05,4.863379e+05,-18757.87605
2,2021,AG,33,2.643898e+05,2.368410e+05,2.019982e+05,-27548.79548
3,2021,AG,35,3.554536e+05,3.509999e+04,1.177362e+05,-320353.65550
4,2021,AG,36,2.922549e+06,2.745166e+06,2.777999e+06,-177383.42905
...,...,...,...,...,...,...,...
10779,2022,ZH,68,0.000000e+00,0.000000e+00,0.000000e+00,0.00000
10780,2022,ZH,10,8.381528e+06,0.000000e+00,0.000000e+00,0.00000
10781,2022,ZH,14,1.643266e+07,0.000000e+00,0.000000e+00,0.00000
10782,2022,ZH,20,1.298288e+07,0.000000e+00,0.000000e+00,0.00000
10783,2022,ZH,29,1.183131e+07,0.000000e+00,0.000000e+00,0.00000